.page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bs-dark);
}
.page .main-panel {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.page .main-panel .menu {
  height: 100vh;
  position: sticky;
  top: 0;
}
.page .main-panel .content {
  display: flex;
  flex-flow: column;
  flex: 1;
  max-height: 100%;
  overflow: auto;
}
.page ::deep .card {
  background-color: var(--bs-gray);
  color: white;
}
.page ::deep h3 {
  color: white;
}
