<div class="top-row">
    <div class="heading-group">
        <div class="heading-button">
            <a href=""><h2 class="heading">F95 Game Manager</h2></a>
        </div>
        <div class="heading-button">
            <TopSeachBarComponent />
        </div>
    </div>
    <div class="heading-group">
        <div class="heading-button">
            <ArchiveImporterTopBarComponent />
        </div>
        <div class="heading-button">
            <GameUpdaterTopBarComponent />
        </div>
    </div>
</div>

@code {

}
