@*
    TopRow
    Application header bar. Contains the app title link, the TopSeachBarComponent
    for inline library search and F95 navigation, the ArchiveImporterTopBarComponent
    for archive scanning status, and the GameUpdaterTopBarComponent for update status.
*@
<div class="top-row">
    <div class="heading-group">
        <div class="heading-button">
            <a href=""><h2 class="heading">F95 Game Manager</h2></a>
        </div>
        <div class="heading-button">
            <TopSeachBarComponent />
        </div>
    </div>
    <div class="heading-group">
        <div class="heading-button">
            <ArchiveImporterTopBarComponent />
        </div>
        <div class="heading-button">
            <GameUpdaterTopBarComponent />
        </div>
    </div>
</div>

@code {

}
