.top-row {
    display: flex;
    flex: 0;
    background-color: black;
    align-items: center;
    justify-content: space-between;

    .heading-group {
        display: flex;
        align-items: center;
    }

    .heading {
        width: 250px;
        text-align: center;
        //margin: 10px;
    }

    .heading-button {
        padding-left: 5px;
        padding-right: 5px;
    }
}
