@*
    Search Page (/search)
    Allows the user to search F95zone for games by title. Displays a search form
    (F95SearchComponent) and paginated results (F95SearchResultsComponent) where
    found games can be added to the local library or bound to an existing entry.
*@
@page "/search"
<h3>Search</h3>

<GameManager.UI.Features.OnlineSearch.Components.F95SearchComponent/>
<GameManager.UI.Features.OnlineSearch.Components.F95SearchResultsComponent/>

@code {

}
