@*
    Settings Page (/settings)
    Application configuration hub. Lets the user configure F95zone authentication
    credentials, game library folder paths, download/import folder paths, and the
    path to the 7-Zip executable used for archive extraction.
*@
@page "/settings"

@inject IDispatcher _dispatcher;

<h3>Settings</h3>
<div class="settings-container">
    <GameManager.UI.Features.Settings.Components.F95AuthDetailsComponent />
    @*<GameManager.UI.Features.Settings.Components.F95DefaultSearchSettingsComponent/>*@
</div>
<div class="settings-container">
    <GameManager.UI.Features.Settings.Components.LibraryFoldersComponent ScanEnabled="false"/>
    <GameManager.UI.Features.Settings.Components.DownloadFoldersComponent />
    <GameManager.UI.Features.Settings.Components.SevenZipConfigComponent />
</div>
