.filter-row {
    display: flex;
    flex: 0;
    color: white;
    margin: 0 15px;
    align-items: center;
    justify-content: space-between;

    .sort-props {
        display: flex;
        align-items: center;

        .sort-prop {
            margin: 0 10px;
        }
    }

    .filter-props {

        .filter-prop {
            
        }
    }
}
