@*
    F95DefaultSearchSettingsComponent
    Settings card for configuring default F95zone search prefixes (engine) and tags
    (genre). These defaults are pre-populated into the search form so repeated
    searches use the user's preferred filters. Currently commented out in the Settings
    page pending future UI integration.
*@
@inherits FluxorComponent;
@inject IState<SettingsState> _settingsState;
@inject IDispatcher _dispatcher;

<EditForm Model="settings" OnValidSubmit="HandleValidSubmit">
    <Card>
        <CardHeader>
            <CardTitle>Default F95 Search Properties</CardTitle>
        </CardHeader>
        <CardBody>
            <Field>
                <FieldBody>
                    <F95EngineSelectorControl @bind-GameEngineValues="settings.SearchSettings.DefaultF95Prefixes"/>
                </FieldBody>
            </Field>
            <Field>
                <FieldBody>
                    <F95GenreSelectorControl @bind-GameGenreValues="settings.SearchSettings.DefaultF95Tags"/>
                </FieldBody>
            </Field>
            <Button Color="Color.Primary" Type="Blazorise.ButtonType.Submit"><Icon Name="IconName.Search" />Save</Button>
        </CardBody>
    </Card>
</EditForm>


@code {
    private AppSettings settings => _settingsState.Value.Settings;
        
    private void HandleValidSubmit()
    {
        _dispatcher.Dispatch(new SaveSettingsAction());
    }
}
