@*
    SevenZipConfigComponent
    Settings card for specifying the local 7-Zip installation path. The path text
    field is bound to AppSettings.SevenZipPath. Saving the form dispatches
    SaveSettingsAction so the path is persisted and available for archive extraction.
*@
@using GameManager.UI.Features.F95Login.Actions

@inherits FluxorComponent;
@inject IState<SettingsState> _settingsState;
@inject IDispatcher _dispatcher;

<EditForm Model="Settings" OnValidSubmit="HandleValidSubmit">
    <Card>
        <CardHeader>
            <h3>7Zip Install Location</h3>
        </CardHeader>
        <CardBody>
            <Field>
                <FieldLabel>Path</FieldLabel>
                <TextInput @bind-Value="Settings.SevenZipPath" />
            </Field>
            <Button Color="Color.Success" Type="Blazorise.ButtonType.Submit">Save</Button>
        </CardBody>
    </Card>
</EditForm>


@code {
    private AppSettings Settings => _settingsState.Value.Settings;

    private void HandleValidSubmit() => _dispatcher.Dispatch(new SaveSettingsAction());
}
